
<h1>Temos novidades sobre seu pedido</h1>

<h2>É sobre seu pedido {{idTransaction}} que foi processado como {{method}}</h2>

<h3>Seu estado de andamento atualizou para: {{status}}</h3>

<p>Qualquer nova atualização, te manteremos informado</p>

<h4>Obrigado pela Preferencia - Toda Equipe da Libido </h4>